body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 270px auto;
    grid-template-rows: 80px 40px auto;
    flex-direction: column;



}

.header,
.navbar,
.main,
.icons {
    background-color: #0f0f0f;
    /* border: 1px solid white;  */

}

.header {
    grid-column: 2 /span 1;
    grid-row: 1/span 2;
    /* border: 1px solid white;  */

    position: sticky;
}

.navbar {
    grid-column: 1/span 1;
    grid-row: 2 /span 3;
    max-height: 89vh;
    overflow: hidden;

    /* border: 1px solid white;  */
}

.navbar:hover {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 89vh;



}

.icons {
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    /* border: 1px solid white;  */


}

.main {
    grid-column: 2/span 1;
    grid-row: 3 /span 2;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    /* border: 1px solid blue; */
    overflow: scroll;

}




/* Track */
.navbar::-webkit-scrollbar-track {
    background: #0f0f0f;
}

/* Handle */
.navbar::-webkit-scrollbar-thumb {
    background: #888;
    border: 4px solid transparent;
    border-radius: 8px;

}

/* Handle on hover */
.navbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main::-webkit-scrollbar-corner {
    border-radius: 5px;
}

.main::-webkit-scrollbar {
    width: 8px;
    height: 0px
}

/* Track */
.main::-webkit-scrollbar-track {
    background: #0f0f0f;
}

/* Handle */
.main::-webkit-scrollbar-thumb {
    background: #888;
    border: 4px solid transparent;
    border-radius: 8px;


}

/* Handle on hover */
.main::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main::-webkit-scrollbar-corner {
    border-radius: 5px;
}